.form-inline{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 500px;
	height: 300px;
	background: rgba(76, 80, 175, 0.3);
	padding: 10px;


}
body{
	background:#95B9C7;
}
label{
	font-family:serif;
	font-size: 18px;
	color:#151B54;
	font-weight: bold;
	text-align: left;
}
select {
                outline: 0;
                width: 40%;
                color: black;
                cursor: pointer;
                border:1px solid black;
                border-radius:3px;
            }
.form-control1{
                width: 15em;
                height: 2em;
                line-height: 3;
                border-radius: .25em;
                padding-bottom:10px;
}
input{ 
    -webkit-border-radius: 5px; 
    -moz-border-radius: 5px; 
    border-radius: 5px; 
    border: 1px solid #848484; 
    outline:0; 
    height:25px; 
    width: 200px; 
 }

button{
	background-color:#151B54; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  align-self:center;
  position: absolute;
  top: 80%;
}
.rr{align-content: right;
}